<!DOCTYPE html>
<html>
  <head>
    <title>Nearly</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="default.css">
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
  </head>
  <body>
    <div class="jumbotron">
      <h1>Nearly</h1>
    </div>
    <h5>Enter zip/city, state</h5><input class="location" placeholder="Irvine, CA">
    <br>
    <p>Find <input class="x" placeholder="ice cream"> near <input class="y" placeholder="movie theater"></p>
    <br>
    <button class="go">Go</button>
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <!-- endbower -->
  </body>
</html>
