<!DOCTYPE html>
<html>
  <head>
    <title>Nearly</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="default.css">
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
  </head>
  <body>
    <div class="jumbotron">
      <h1>Nearly</h1>
    </div>
    <h5>Enter zip/city, state</h5><input id="address" class="location" placeholder="Irvine, CA">
    <br>
    <p>Find <input class="x" placeholder="ice cream"> near <input class="y" placeholder="movie theater"></p>
    <br>
    <button id="go">Go</button>
    <div id="map"></div>
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <!-- endbower -->
    <script src="../js/google.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX-Ef4VxCICPWOWrgFeRW7RIZAYP0ZG84&libraries=places&callback=createMap"></script>
    <!-- Documentation for above script tag: https://developers.google.com/maps/documentation/javascript/places-autocomplete -->
  </body>
</html>
