<!DOCTYPE html>
<html ng-app="nearly" lang="en-US">
  <head>
    <title>Nearly</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="all.min.css">
  </head>
  <body>
    <div class="jumbotron">
      <h1>Nearly</h1>
    </div>
    <br>
    <p>Find <input id="x" placeholder="ice cream"> near/in <input id="y" placeholder="ZIP/City, State/Address"></p>
    <br>
    <button id="go">Go</button>
    <br><br>
    <div class="row">
      <div class="col-md-6 mapContainer">
        <div id="map"></div>
      </div>
      <div class="col-md-6 distanceContainer">
        <ol id="distance"></ol>
      </div>
    </div>
    <script src="bootquery.js"></script>
    <script src="google.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX-Ef4VxCICPWOWrgFeRW7RIZAYP0ZG84&libraries=places&callback=createMap"></script>
    <!-- Documentation for above script tag: https://developers.google.com/maps/documentation/javascript/places-autocomplete -->
  </body>
</html>
